@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dm-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --softRed: hsl(10, 79%, 65%);
  --softSoftRed: hsl(10, 79%, 75%);
  --cyan: hsl(186, 34%, 60%);
  --softBlue: hsl(204, 34%, 60%);
  --darkBrown: hsl(25, 47%, 15%);
  --mediumBrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --veryPaleOrange: hsl(33, 100%, 98%);
}

body {
  background-color: var(--cream);
}

*::selection {
  color: aliceblue;
  background: var(--softRed);
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 540px;
  gap: 22px;
}

/* SECTION - 1 */

.section1 {
  height: 125px;
  background-color: var(--softRed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 20px;
}

.section1 > article {
  color: var(--veryPaleOrange);
}

.section1 > article > h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 10px;
}

.section1 > article > h1 {
  font-weight: 700;
  font-size: 2rem;
}

/* SECTION - 1  END */

/* SECTION - 2 */

.section2 {
  height: 515px;
  background-color: var(--veryPaleOrange);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FOOTER */

.section2 > h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--darkBrown);
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-container > .total > h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--darkBrown);
}

.total-container > .total > h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--mediumBrown);
}

.total-container > .percentage {
  text-align: end;
  align-self: flex-end;
}

.total-container > .percentage > h5 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--darkBrown);
  margin-bottom: 5px;
}

.total-container > .percentage > p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--mediumBrown);
}

/* FOOTER END */

/* SPACER */

.spacer {
  height: 1px;
  background-color: var(--cream);
}

/* SPACER END */

/* CHARTS */

.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 210px;
}

.chart {
  display: flex;
  flex-direction: row;
}

.charts {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

#bar {
  position: relative;
  width: 50px;
  background-color: var(--softRed);
  border-radius: 7px;
  transition: all 0.2s ease-in;
}

#bar:hover {
  background-color: var(--softSoftRed);
  cursor: pointer;
}

#bar::before {
  content: attr(data-amount);
  position: absolute;
  top: -55px;
  left: -9px;
  opacity: 0;
  font-weight: 700;
  background-color: var(--darkBrown);
  color: var(--cream);
  padding: 10px;
  border-radius: 7px;
  transition: all 0.2s ease-in;
}

#bar:hover::before {
  opacity: 1;
  top: -45px;
}

.charts > input {
  display: none;
}

.charts > input:nth-child(n):checked + label > #bar {
  background-color: var(--softBlue);
  opacity: 1;
}

.charts > input:nth-child(n):checked + label > #bar::before {
  opacity: 1;
  top: -45px;
}

.charts > h3 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--mediumBrown);
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 340px;
    gap: 15px;
  }
  #bar {
    width: 35px;
  }

  .section2 {
    padding: 20px;
    height: 420px;
  }

  .total-container > .total > h1 {
    font-size: 2rem;
  }

  .section2 > h1 {
    font-size: 1.5rem;
  }

  #bar::before {
    left: -14px;
    font-size: 0.9rem;
    z-index: 100;
  }
}

/* CHARTS END */
