
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--softRed: hsl(10, 79%, 65%)
--cyan: hsl(186, 34%, 60%)
--softBlue: hsl(204, 34%, 60%)
--darkBrown: hsl(25, 47%, 15%)
--mediumBrown: hsl(28, 10%, 53%)
--cream: hsl(27, 66%, 92%)
--veryPaleOrange: hsl(33, 100%, 98%)
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
